<b>Partlist exported from E:/work/cow_task/circuit/APDS9008_module/APDS9008_module.sch at 3/30/2017 4:37 AM</b>
<p>
<table>
<tr><td><b>Part</b></td><td><b>Value</b></td><td><b>Device</b></td><td><b>Package</b></td><td><b>Description</b></td><td><b></b></td></tr>
<tr><td>D1</td><td>KBREVMTNLED</td><td>KBREVMTNLED</td><td>KBREVMNTLED</td><td></td><td></td></tr>
<tr><td>JP1</td><td>1MM_PIN_HEADER</td><td>1MM_PIN_HEADER</td><td>1MM_PIN_HEADER</td><td></td><td></td></tr>
<tr><td>JP2</td><td>1MM_PIN_HEADER</td><td>1MM_PIN_HEADER</td><td>1MM_PIN_HEADER</td><td></td><td></td></tr>
<tr><td>U1</td><td>APDS9008</td><td>APDS9008</td><td>APDS9008</td><td></td><td></td></tr>
</table>
