<b>Partlist exported from E:/work/cow_task/circuit/pen_rider/pen_rider.sch at 3/30/2017 2:10 AM</b>
<p>
<table>
<tr><td><b>Part</b></td><td><b>Value</b></td><td><b>Device</b></td><td><b>Package</b></td><td><b>Description</b></td><td><b>MF</b></td><td><b>MPN</b></td><td><b>OC_FARNELL</b></td><td><b>OC_NEWARK</b></td><td><b>SPICEMODEL</b></td><td><b>SPICEPREFIX</b></td></tr>
<tr><td>C1</td><td>0.1uF</td><td>C-USC0402</td><td>C0402</td><td>CAPACITOR, American symbol</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>C2</td><td>2.2uF</td><td>C-USC0402</td><td>C0402</td><td>CAPACITOR, American symbol</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>C3</td><td>4.7uF</td><td>C-USC0402</td><td>C0402</td><td>CAPACITOR, American symbol</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>C4</td><td>4.7uF</td><td>C-USC0402</td><td>C0402</td><td>CAPACITOR, American symbol</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>C5</td><td>2.2uF</td><td>C-USC0402</td><td>C0402</td><td>CAPACITOR, American symbol</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>C6</td><td>4.7uF</td><td>C-USC0402</td><td>C0402</td><td>CAPACITOR, American symbol</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>C7</td><td>10uF</td><td>C-USC1812</td><td>C1812</td><td>CAPACITOR, American symbol</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>C8</td><td>0.1uF</td><td>C-USC0402</td><td>C0402</td><td>CAPACITOR, American symbol</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>C9</td><td>0.1uF</td><td>C-USC0402</td><td>C0402</td><td>CAPACITOR, American symbol</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>C10</td><td>4.7uF</td><td>C-USC0402</td><td>C0402</td><td>CAPACITOR, American symbol</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>C11</td><td>0.1uF</td><td>C-USC0402</td><td>C0402</td><td>CAPACITOR, American symbol</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>C12</td><td>0.1uF</td><td>C-USC0402</td><td>C0402</td><td>CAPACITOR, American symbol</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>D1</td><td>SHORTKEY</td><td>SHORTKEY</td><td>SMT0603</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>FLASH</td><td>Flash_mode_con</td><td>PINHD-1X2</td><td>1X02</td><td>PIN HEADER</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>JP1</td><td>1MM_PIN_HEADER</td><td>1MM_PIN_HEADER</td><td>1MM_PIN_HEADER</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>JP2</td><td>1MM_PIN_HEADER</td><td>1MM_PIN_HEADER</td><td>1MM_PIN_HEADER</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>L1</td><td>2.2uH</td><td>L</td><td>L1812</td><td>INDUCTOR, European symbol</td><td></td><td></td><td></td><td></td><td>NONE</td><td>L</td></tr>
<tr><td>NOMAL</td><td>nomal_con</td><td>PINHD-1X2</td><td>1X02</td><td>PIN HEADER</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>POWER</td><td>Battery_con</td><td>PINHD-1X2</td><td>1X02</td><td>PIN HEADER</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Q1</td><td>NTR2101P</td><td>NTR2101P</td><td>NTR2101P</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>R1</td><td>4.7K</td><td>R-US_R0402</td><td>R0402</td><td>RESISTOR, American symbol</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>R2</td><td>4.7K</td><td>R-US_R0402</td><td>R0402</td><td>RESISTOR, American symbol</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>R3</td><td>4.7K</td><td>R-US_R0402</td><td>R0402</td><td>RESISTOR, American symbol</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>R4</td><td>4.7K</td><td>R-US_R0402</td><td>R0402</td><td>RESISTOR, American symbol</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>R5</td><td>4.7K</td><td>R-US_R0402</td><td>R0402</td><td>RESISTOR, American symbol</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>R6</td><td>4.7K</td><td>R-US_R0402</td><td>R0402</td><td>RESISTOR, American symbol</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>R7</td><td>4.7K</td><td>R-US_R0402</td><td>R0402</td><td>RESISTOR, American symbol</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>R9</td><td>10K</td><td>R-US_R0402</td><td>R0402</td><td>RESISTOR, American symbol</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>R10</td><td>10K</td><td>R-US_R0402</td><td>R0402</td><td>RESISTOR, American symbol</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>R11</td><td>470</td><td>R-US_R0402</td><td>R0402</td><td>RESISTOR, American symbol</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>R12</td><td>12K</td><td>R-US_R0402</td><td>R0402</td><td>RESISTOR, American symbol</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>R13</td><td>10K</td><td>R-US_R0402</td><td>R0402</td><td>RESISTOR, American symbol</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>R14</td><td>3.3M</td><td>R-US_R0402</td><td>R0402</td><td>RESISTOR, American symbol</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>R15</td><td>2.2K</td><td>R-US_R0402</td><td>R0402</td><td>RESISTOR, American symbol</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>R16</td><td>1.1K</td><td>R-US_R0402</td><td>R0402</td><td>RESISTOR, American symbol</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>R17</td><td>100K</td><td>R-US_R0402</td><td>R0402</td><td>RESISTOR, American symbol</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>R18</td><td>100K</td><td>R-US_R0402</td><td>R0402</td><td>RESISTOR, American symbol</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>R19</td><td>10K</td><td>R-US_R0402</td><td>R0402</td><td>RESISTOR, American symbol</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>R20</td><td>4.7K</td><td>R-US_R0402</td><td>R0402</td><td>RESISTOR, American symbol</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>R21</td><td>4.7K</td><td>R-US_R0402</td><td>R0402</td><td>RESISTOR, American symbol</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>U1</td><td>ESP8266-12E</td><td>ESP8266-12EESP8266-ESP12E</td><td>ESP8266-ESP12E</td><td>ESP8266-12E with additional I/O and GPIO04/05 corrected</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>U2</td><td>SX1276_LORA</td><td>SX1276_LORA_MODULE</td><td>SX1276_LORA_MODULE</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>U3</td><td>MCP6001UT-E/OT</td><td>MCP6001UT-E/OT</td><td>SOT-23-5</td><td>1 MHz, Low-Power Op Amp</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>U4</td><td>ADXL345</td><td>ADXL345</td><td>LGA14</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>U5</td><td>MLX90614_</td><td>MLX90614_</td><td>MLX90641_A</td><td>Melexis IR Thermometer</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>U6</td><td>LM3671</td><td>LM3671</td><td>SOT23-5</td><td>Texas Instruments LM3671, LM3671Q 2MHz, 600mA Step-Down DC-DC Converter</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>X1</td><td>52745-0690</td><td>52745-0690</td><td>52745-0690</td><td>FFC/FPC-to-Board  0.50mm (.020") SMT Top Contact</td><td></td><td>52745-0690</td><td>unknown</td><td>92M6374</td><td></td><td></td></tr>
</table>
